<a href="https://colab.research.google.com/github/kaurroopak/UCS712/blob/main/Assignment_4_(CC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assingment 4.1: WAP to print the table of 7, 9.

In [1]:
#Table of 7
for i in range(1,11):
    print("7 *",i,"=",7*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [2]:
#Table of 9
for i in range(1,11):
    print("9 *",i,"=",9*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Assingment 4.2: WAP to print the table of n and n is given by user.

In [3]:
n = int(input("Enter the number: "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the number: 13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [5]:
n = int(input("Enter the number: "))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print("Sum of numbers from 1 to",n,"is = ",sum)

Enter the number: 9
Sum of numbers from 1 to 9 is =  45