<a href="https://colab.research.google.com/github/kaurroopak/UCS420/blob/main/Lab_Assignment_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab Assignment 3

Q.1 Create a dataset as follow in the table.

In [6]:
import pandas as pd

data = {
    'Tid':[1,2,3,4,5,6,7,8,9,10],
    'Refund':['Yes','No','No','Yes','No','No','Yes','No','No','No'],
    'Marital Status':['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
    'Taxable Income':['125K','100K','70K','120K','95K','60K','220K','85K','75K','90K'],
    'Cheat':['No','No','No','No','Yes','No','No','Yes','No','Yes']
}

df = pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

Q.2 From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame.

In [ ]:
#locating row 0, 4, 7 and 8 using DataFrame
print(df.loc[0])
print("\n", df.loc[4])
print("\n", df.loc[7])
print("\n", df.loc[8])

Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income      125K
Cheat                 No
Name: 0, dtype: object

 Tid                      5
Refund                  No
Marital Status    Divorced
Taxable Income         95K
Cheat                  Yes
Name: 4, dtype: object

 Tid                    8
Refund                No
Marital Status    Single
Taxable Income       85K
Cheat                Yes
Name: 7, dtype: object

 Tid                     9
Refund                 No
Marital Status    Married
Taxable Income        75K
Cheat                  No
Name: 8, dtype: object

Q.3 Navigate the DataFrame and do the following task for the table created in question 1:
1. Select row from index 3 to 7.
2. Select row from index 4 to 8, and column 2 to 4.
3. Select all rows with column index 1 to 3 (include index 3 during selection).

In [ ]:
#row from index 3 to 7
print("Row from index 3 to 7 :-")
print("\n", df.loc[3:7])

#row from index 4 to 8, and column 2 to 4.
print("\n\nRow from index 4 to 8, and column 2 to 4 :-")
print("\n", df.iloc[4:9, 2:5])

#all rows with column index 1 to 3 (include index 3 during selection).
print("\n\nAll rows with column index 1 to 3 (include index 3 during selection) :-")
print("\n", df.iloc[:, 1:4])

Row from index 3 to 7 :-

    Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes


Row from index 4 to 8, and column 2 to 4 :-

   Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No


All rows with column index 1 to 3 (include index 3 during selection) :-

   Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

Q.4 Read a csv file and display its first five rows.
Note-: Download dataset from https://www.kaggle.com/datasets/uciml/iris)

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Iris.csv to Iris (1).csv

In [ ]:
df1 = pd.read_csv('Iris.csv')   #Read a csv file
print(df1.head())               #Display its first five rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Q.5 From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the
result.

In [ ]:
#delete row 4
df1 = df1.drop(4)
print(df1)

#delete column 3
df1 = df1.drop(df1.columns[3], axis=1)
print(df1)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
5      6            5.4           3.9            1.7           0.4
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
5       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[149 rows x 6 columns]
      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
3      4            4.6           3.1           0.2     Iris-setosa
5      6            5.4           3.9           0.4     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[149 rows x 5 columns]

Q.6 Create a sample dataset (employees.csv) containing information about employees in a company.

In [16]:
from google.colab import files

uploaded2 = files.upload()

Saving employees.csv to employees (1).csv

In [17]:
df2 = pd.read_csv('employees.csv')
print(df2)

   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_date  Gender  Bonus  Rating
0   15-03-2020  Female   5000     4.5
1   19-07-2020    Male   7000     4.0
2   01-06-2013    Male   6000     3.8
3   10-02-2021  Female   4500     4.7
4   25-11-2010    Male   5000     3.5

WAP to determine the following using dataset in Q6:

a) Shape (number of rows and columns) of the DataFrame.

b) Summary of the DataFrame that includes the data types and non-null counts for
each column.

c) Generate descriptive statistics.

d) Display the first 5 rows and last 3 rows of the dataset.

e) Calculate the following statistics from the dataset:
i. The average salary of employees.
ii. The total bonus paid to all employees.
iii. The youngest employee's age.
iv. The highest performance rating.

f) Sort the DataFrame by the Salary column in descending order.

g) Add a new column that categorizes employees based on their performance rating:
i. Excellent for ratings >= 4.5
ii. Good for ratings >= 4.0 but < 4.5
iii. Average for ratings < 4.0

h) Identify missing values in the DataFrame.

i) Rename the Employee_ID column to ID.

j) Find all employees who:
i. Have more than 5 years of experience.
ii. Belong to the IT department.

k) Modify the dataset by adding a new column, Tax, which deducts 10% of the
Salary.

l) Save the modified DataFrame (with added columns) to a new CSV file.

In [17]:
# a) Shape (number of rows and columns) of the DataFrame.
print("No of rows and columns = ", df2.shape)

No of rows and columns =  (5, 10)

In [19]:
# b) Summary of the DataFrame that includes the data types and non-null counts for each column.
print("Summary of the DataFrame :-")
print(df2.info())

Summary of the DataFrame :-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_Id          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_experience  5 non-null      int64
 6   Joining_date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

In [20]:
# c) Generate descriptive statistics.
print("Descriptive statistics :-")
print(df2.describe())

Descriptive statistics :-
       Employee_Id        Age       Salary  Years_of_experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [21]:
# d) Display the first 5 rows and last 3 rows of the dataset.
print("First 5 rows")
print(df.head())
print("\nLast 3 rows")
print(df.tail(3))

First 5 rows
   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes

Last 3 rows
   Tid Refund Marital Status Taxable Income Cheat
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [23]:
# e) Calculate the following statistics from the dataset:
# i. The average salary of employees.
print("Average salary of employees = ", df2['Salary'].mean())

# ii. The total bonus paid to all employees.
print("Total bonus paid to all employees = ", df2['Bonus'].sum())

# iii. The youngest employee's age.
print("Youngest employee's age = ", df2['Age'].min())

# iv. The highest performance rating.
print("Highest performance rating = ", df2['Rating'].max())

Average salary of employees =  60000.0
Total bonus paid to all employees =  27500
Youngest employee's age =  28
Highest performance rating =  4.7

In [8]:
# f) Sort the DataFrame by the Salary column in descending order.
print("Sorted DataFrame by Salary column in descending order :-")
print(df2.sort_values(by='Salary', ascending=False))

Sorted DataFrame by Salary column in descending order :-
   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_date  Gender  Bonus  Rating
1   19-07-2020    Male   7000     4.0
2   01-06-2013    Male   6000     3.8
4   25-11-2010    Male   5000     3.5
3   10-02-2021  Female   4500     4.7
0   15-03-2020  Female   5000     4.5

In [10]:
# g) Add a new column that categorizes employees based on their performance rating:
def categorize_rating(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return 'Average'
df2['Performance'] = df2['Rating'].apply(categorize_rating)
print(df2)

   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_date  Gender  Bonus  Rating Performance
0   15-03-2020  Female   5000     4.5   Excellent
1   19-07-2020    Male   7000     4.0        Good
2   01-06-2013    Male   6000     3.8     Average
3   10-02-2021  Female   4500     4.7   Excellent
4   25-11-2010    Male   5000     3.5     Average

In [11]:
# h) Identify missing values in the DataFrame.
print("Missing values in the DataFrame :-")
print(df2.isnull().sum())

Missing values in the DataFrame :-
Employee_Id            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_experience    0
Joining_date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64

In [21]:
# i) Rename the Employee_ID column to ID.
df2 = df2.rename(columns={'Employee_ID': 'Emp_ID'}, inplace = False)
print(df2)

   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_date  Gender  Bonus  Rating
0   15-03-2020  Female   5000     4.5
1   19-07-2020    Male   7000     4.0
2   01-06-2013    Male   6000     3.8
3   10-02-2021  Female   4500     4.7
4   25-11-2010    Male   5000     3.5

In [24]:
# j) Find all employees who:
# i. Have more than 5 years of experience.
print("Employees with more than 5 years of experience :-")
print(df2[df2['Years_of_experience'] > 5])

# ii. Belong to the IT department.
print("\n\nEmployees belonging to the IT department :-")
print(df2[df2['Department'] == 'IT'])

Employees with more than 5 years of experience :-
   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12

  Joining_date Gender  Bonus  Rating
1   19-07-2020   Male   7000     4.0
2   01-06-2013   Male   6000     3.8
4   25-11-2010   Male   5000     3.5


Employees belonging to the IT department :-
   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10

  Joining_date Gender  Bonus  Rating
1   19-07-2020   Male   7000     4.0
2   01-06-2013   Male   6000     3.8

In [25]:
# k) Modify the dataset by adding a new column, Tax, which deducts 10% of the Salary.
print("Modified dataset :-")
df2['Tax'] = df2['Salary'] * 0.1
print(df2)

Modified dataset :-
   Employee_Id     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_date  Gender  Bonus  Rating     Tax
0   15-03-2020  Female   5000     4.5  5000.0
1   19-07-2020    Male   7000     4.0  7000.0
2   01-06-2013    Male   6000     3.8  6500.0
3   10-02-2021  Female   4500     4.7  5500.0
4   25-11-2010    Male   5000     3.5  6000.0

In [26]:
# l) Save the modified DataFrame (with added columns) to a new CSV file.
df2.to_csv('modified_employees.csv', index=False)
print("Modified DataFrame saved to 'modified_employees.csv'")

Modified DataFrame saved to 'modified_employees.csv'