<a href="https://colab.research.google.com/github/kaurroopak/UCS420/blob/main/Lab_Assignment_2_1_(CC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab Assignment 2
####Submitted by - Roopakjeet Kaur (102497013)

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [12]:
list1 = [10,20,30,40,50,60,70,80]
print("Original list: ", list1)

#add element using extend
list1.extend([200,300])
print("List after addin elements: ", list1)

#remove element using remove
list1.remove(10)
list1.remove(30)
print("List after removing elements: ", list1)

#sort in ascending order
list1.sort()
print("Sorted list in ascending order: ", list1)

#sort in descending order
list1.sort(reverse=True)
print("Sorted list in descending order: ", list1)

Original list:  [10, 20, 30, 40, 50, 60, 70, 80]
List after addin elements:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing elements:  [20, 40, 50, 60, 70, 80, 200, 300]
Sorted list in ascending order:  [20, 40, 50, 60, 70, 80, 200, 300]
Sorted list in descending order:  [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

#highest score and its index
print("Highest score: ", max(scores))
print("Index: ", scores.index(max(scores)))

#lowest score and count
print("\nLowest score: ", min(scores))
print("Count: ", scores.count(min(scores)))

#reverse the tuple and return it as a list
print("\nReversed tuple as list: ", list(reversed(scores)))

#Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index
check_score = int(input("\nEnter a score to check: "))
if check_score in scores:
  print("Score found at index: ", scores.index(check_score))
else:
  print("Score not found")

Highest score:  92
Index:  5

Lowest score:  45
Count:  2

Reversed tuple as list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]

Enter a score to check: 76
Score found at index:  2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
#program  to create a list of 100 random numbers between 100 and 900
import random

random_list = random.sample(range(100,900),100)
print(random_list)

#odd numbers
print("\nOdd numbers:")
for i in random_list:
  if i%2 != 0:
    print(i, end=', ')

#even numbers
print("\nEven numbers:")
for i in random_list:
  if i%2 == 0:
    print(i, end=', ')

#prime numbers
print("\nPrime numbers:")
for i in random_list:
  if i > 1:
    for j in range(2,i):
      if i%j == 0:
        break
    else:
      print(i, end=', ')

[662, 482, 520, 859, 189, 612, 728, 769, 670, 246, 436, 578, 216, 652, 306, 700, 234, 248, 630, 610, 564, 485, 420, 128, 891, 218, 543, 510, 366, 590, 240, 694, 866, 576, 457, 825, 778, 895, 878, 346, 106, 601, 742, 511, 836, 771, 448, 330, 408, 831, 130, 149, 751, 353, 870, 747, 107, 397, 337, 432, 791, 685, 241, 118, 840, 395, 222, 835, 117, 714, 653, 631, 569, 514, 738, 585, 440, 801, 765, 267, 419, 439, 899, 434, 339, 186, 230, 102, 476, 138, 812, 740, 813, 723, 816, 529, 401, 678, 565, 110]

Odd numbers:
859, 189, 769, 485, 891, 543, 457, 825, 895, 601, 511, 771, 831, 149, 751, 353, 747, 107, 397, 337, 791, 685, 241, 395, 835, 117, 653, 631, 569, 585, 801, 765, 267, 419, 439, 899, 339, 813, 723, 529, 401, 565,
Even numbers:
662, 482, 520, 612, 728, 670, 246, 436, 578, 216, 652, 306, 700, 234, 248, 630, 610, 564, 420, 128, 218, 510, 366, 590, 240, 694, 866, 576, 778, 878, 346, 106, 742, 836, 448, 330, 408, 130, 870, 432, 118, 840, 222, 714, 514, 738, 440, 434, 186, 230, 102, 476, 138, 812, 740, 816, 678, 110,
Prime numbers:
859, 769, 457, 601, 149, 751, 353, 107, 397, 337, 241, 653, 631, 569, 419, 439, 401,

4. Consider the following two sets, A and B, representing scores of two teams in multiple matches.
A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [4]:
setA = {34,56,78,90}
setB = {78,45,90,23}

#union
print("Unique scores achieved by both teams = ", setA.union(setB))

#intersection
print("\nScores that are common to both teams = ", setA.intersection(setB))

#symmetric difference
print("\nScores that are exclusive to each team = ", setA.symmetric_difference(setB))

#subset
print("\nIs setA a subset of setB? ", setA.issubset(setB))
print("Is setB a superset of setA? ", setB.issuperset(setA))

#remove specific score x (input by user)
x = int(input("\nEnter a score to remove from setA: "))
if x in setA:
  setA.remove(x)
  print(setA)

Unique scores achieved by both teams =  {34, 45, 78, 23, 56, 90}

Scores that are common to both teams =  {90, 78}

Scores that are exclusive to each team =  {34, 45, 23, 56}

Is setA a subset of setB?  False
Is setB a superset of setA?  False

Enter a score to remove from setA: 34
{56, 90, 78}

5. Write a program to rename a key city to a locaƟon in the following dictionary.
Sample_dict = {"name":"kelly", "age":25, "salary":8000, "city":"New York"}

In [8]:
dict1 = {"name":"kelly", "age":25, "salary":8000, "city":"New York"}
print("Original dictionary: \n", dict1)

dict1["location"] = dict1.pop("city")
print("\nDictionary after renaming: \n", dict1)

Original dictionary:
 {'name': 'kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}

Dictionary after renaming:
 {'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}